.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 10px;
}

.theme-toggle p {
  display: inline;
  cursor: pointer;
}

.theme-toggle .toggle-icon {
  font-size: 1.1rem;
}

.limiter {
  display: flex;
  width: 100%;
  height: 85vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider,
:host
  ::ng-deep
  .p-inputswitch.p-inputswitch-checked:hover
  .p-inputswitch-slider {
  background: var(--indigo-200);
}

:host ::ng-deep .p-inputswitch.p-focus .p-inputswitch-slider {
  box-shadow: 0 0 0 1px var(--indigo-400);
}
