.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0.5rem;
  height: 40px;
}

.theme-toggle p {
  display: inline;
  cursor: pointer;
}

.theme-toggle .toggle-icon {
  font-size: 1.1rem;
}

.limiter {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 450px) {
  .theme-toggle {
    justify-content: center;
    margin: 1rem 0.5rem;
  }

  .limiter {
    display: block;
    padding: 1rem;
    margin: 0;
    height: 650px;
  }
}

/* :host ::ng-deep .p-inputswitch-slider {
  width: 2rem;
  height: 4rem;
} */

/* :host ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider,
:host
  ::ng-deep
  .p-inputswitch.p-inputswitch-checked:hover
  .p-inputswitch-slider {
  background: var(--indigo-200);
}

:host ::ng-deep .p-inputswitch.p-focus .p-inputswitch-slider {
  box-shadow: 0 0 0 1px var(--indigo-400);
} */
