<div class="menu">
  <div>
    <img class="imageHead mr-2" />
  </div>
  <div (click)="menu.toggle($event)">
    <div class="avatar-container">
      <p-avatar
        image="assets/avatar/avatar-demo.jpg"
        styleClass="mr-2"
      ></p-avatar>
      <span>Xanthe Neal</span>
      <i class="pi pi-angle-down"></i>
    </div>
  </div>
</div>

<!-- Card profile info -->
<div class="container">
  <div class="header">
    <h1 class="text-center">Personal Info</h1>
    <p class="text-center">Basic info, like your name and photo</p>
  </div>
  <div class="card-body">
    <div class="card-header">
      <div>
        <h3>Profile</h3>
        <p class="text-mute">Some info may be visible to other people</p>
      </div>
      <button
        pButton
        pRipple
        type="button"
        label="Edit"
        class="p-button-outlined p-button-rounded p-button-secondary"
      ></button>
    </div>

    <div class="grid item-data">
      <div class="col-4">
        <p class="text-mute">PHOTO</p>
      </div>
      <div class="col-8">
        <img src="assets/avatar/avatar-demo.jpg" alt="photo" />
      </div>
    </div>

    <div class="grid item-data">
      <div class="col-4">
        <p class="text-mute">NAME</p>
      </div>
      <div class="col-8">
        <p>Xanthe Neal</p>
      </div>
    </div>

    <div class="grid item-data">
      <div class="col-4">
        <p class="text-mute">BIO</p>
      </div>
      <div class="col-8">
        <p>I am a software developer and a big fan of devchallenges...</p>
      </div>
    </div>

    <div class="grid item-data">
      <div class="col-4">
        <p class="text-mute">PHONE</p>
      </div>
      <div class="col-8">
        <p>+502 22220000</p>
      </div>
    </div>

    <div class="grid item-data">
      <div class="col-4">
        <p class="text-mute">EMAIL</p>
      </div>
      <div class="col-8">
        <p>xanthe.neal@gmail.com</p>
      </div>
    </div>

    <div class="grid item-data">
      <div class="col-4">
        <p class="text-mute">PASSWORD</p>
      </div>
      <div class="col-8">
        <p>**********</p>
      </div>
    </div>
  </div>
  <div class="credits">
    <p>created by @Yadira-Ferrer</p>
    <p>devChallenges.io</p>
  </div>
</div>

<p-menu
  #menu
  [popup]="true"
  [model]="items"
  styleClass="mt-1 menu-option"
></p-menu>
