.menu {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.avatar-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.avatar-container span {
  font-weight: bold;
  font-size: small;
}

.avatar-container i {
  font-size: 1rem;
  margin-left: 5px;
}

:host ::ng-deep .p-avatar img {
  border-radius: 0.5rem;
}

:host ::ng-deep .menu-option ul li:nth-child(5) a span {
  color: #ef473b !important;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 1rem;
}

/* Header */
.title h1 {
  margin-bottom: 0px;
}

.title p {
  margin-top: 8px;
}

/* Content */
.card-body {
  background: var(--surface-a);
  border: 1px solid #878787;
  border-radius: 8px;
  margin-top: 1rem;
  width: 750px;
  overflow: hidden;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 1rem;
  margin-bottom: 1rem;
}

.card-header h3 {
  margin: 0 0 10px;
}

.item-data {
  border-top: 1px solid #878787;
  padding: 0.75rem 2rem;
}

.item-data div {
  display: flex;
  align-items: center;
}

.item-data img {
  width: 60px;
  border-radius: 8px;
}

.text-mute {
  margin: 0;
  font-size: small;
  color: var(--text-color-secondary);
}

/* CREDITS */

.credits {
  display: flex;
  justify-content: space-between;
}

.credits p {
  display: inline-block;
  font-size: 12px;
  color: var(--gray-500);
  margin: 5px 0 0 0;
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 0 0 1rem;
  }

  .card-header {
    padding: 2rem 1rem 1rem;
  }

  .card-body {
    background: inherit;
    border: none;
    border-bottom: 1px solid #878787;
    border-radius: 0;
    margin-top: 1rem;
    width: 100%;
    overflow: hidden;
  }

  .credits {
    justify-content: space-around;
    padding-top: 1rem;
  }

  #menu-name {
    display: none;
  }
}
