.login-container {
  width: 380px;
  border: 1px solid var(--gray-500);
  border-radius: 20px;
  background-color: var(--surface-a);
  padding: 2.5rem;

  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 1.2rem;
}

.submit-btn {
  margin-bottom: 1.2rem;
}

.mute-text {
  font-size: 12px;
  text-align: center;
  color: var(--gray-500);
}

.mute-text a {
  text-decoration: none;
  color: var(--primary-color);
}

.social-buttons {
  display: flex;
  justify-content: center;
  margin: 1.2rem 0;
}

:host ::ng-deep .p-input-icon-left,
.p-input-icon-right {
  display: block;
}

:host ::ng-deep .p-input-icon-left > .p-inputtext {
  width: 100%;
  border-radius: 6px;
}

:host ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
  margin: 5px;
}
