<p class="mute-text">or continue with these social profile</p>
<div class="social-buttons">
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-google"
    class="p-button-rounded p-button-secondary p-button-outlined"
  ></button>
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-facebook"
    class="p-button-rounded p-button-secondary p-button-outlined"
  ></button>
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-github"
    class="p-button-rounded p-button-secondary p-button-outlined"
  ></button>
</div>
