<div class="container">
  <div class="login-container">
    <div class="header">
      <img class="imageHead" alt="devchallenges logo" />
      <h4>Join thousands of learners from around the world</h4>
      <p>
        Master web development by making real-life projects. There are multiple
        paths for you to choose.
      </p>
    </div>
    <form autocomplete="false">
      <div class="field">
        <span class="p-input-icon-left">
          <i class="pi pi-envelope"></i>
          <input type="text" pInputText placeholder="Email" />
        </span>
      </div>
      <div class="field">
        <span class="p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input type="password" pPassword placeholder="Password" />
        </span>
      </div>
      <button
        pButton
        pRipple
        class="p-button-sm w-full submit-btn"
        type="submit"
        label="Start coding now"
      ></button>
    </form>
    <div>
      <p class="mute-text">or continue with these social profile</p>
      <div class="social-buttons">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-google"
          class="p-button-rounded p-button-secondary p-button-outlined"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-facebook"
          class="p-button-rounded p-button-secondary p-button-outlined"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-twitter"
          class="p-button-rounded p-button-secondary p-button-outlined"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-github"
          class="p-button-rounded p-button-secondary p-button-outlined"
        ></button>
      </div>
      <p class="mute-text">
        Already a member? <a routerLink="/auth/login">Login</a>
      </p>
    </div>
  </div>
  <div class="credits">
    <p>created by @Yadira-Ferrer</p>
    <p>devChallenges.io</p>
  </div>
</div>
