.container {
  width: 380px;
  margin: 0;
}

.register-container {
  border: 1px solid var(--gray-500);
  border-radius: 20px;
  background-color: var(--surface-a);
  padding: 2.5rem;

  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 1.2rem;
}

.header p {
  font-size: small;
}

.submit-btn {
  margin-bottom: 1.1rem;
  border-radius: 6px;
}

.mute-text {
  font-size: 12px;
  text-align: center;
  color: var(--gray-600);
}

.mute-text a {
  text-decoration: none;
  color: var(--primary-color);
}

.credits {
  display: flex;
  justify-content: space-between;
}

.credits p {
  display: inline-block;
  font-size: 12px;
  color: var(--gray-500);
  margin: 5px 0 0 0;
}

:host ::ng-deep .p-input-icon-left,
.p-input-icon-right {
  display: block;
}

:host ::ng-deep .p-input-icon-left > .p-inputtext {
  width: 100%;
  border-radius: 6px;
}

:host ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
  margin: 5px;
}

@media only screen and (max-width: 450px) {
  .container {
    width: 100%;
  }

  .register-container {
    height: 600px;
    justify-content: space-around;
  }
}
